{% set interfaces = {} %}
{% set ilo_data = item.stdout | from_json %}
{% if ilo_data is mapping and ilo_data.network_adapters is defined %}
{% for adapter in ilo_data.network_adapters %}
{% if adapter.port is defined and adapter.mac_address is defined %}
{% set _ = interfaces.update({'oob_' + adapter.port | string: {'mac_address': adapter.mac_address, 'state': 'unknown', 'source': 'ilo'}}) %}
{% endif %}
{% endfor %}
{% endif %}
{{ interfaces | to_yaml }}
